{
    "presets": [        
        [
                "@babel/preset-env",
                
                {
                    "exclude": ["transform-regenerator"]
                }
        ] // Was singel quotes-changes to double
            ]
}