.nav-bar{
    display:flex;
    background-color : #fff;
    margin:auto;
    justify-content: center;
}

 /* Navbar syle */
 .nav-bar .nav-link {
    background-color: #444;
    text-decoration: none;
    text-align: center;
    width:120px;
    margin: 2px;
    color: rgb(250, 246, 246);
    opacity: 0.6;
    transition: 0.3s;
}

  /* Navbar interactive */
  .nav-bar a:hover {
    opacity: 1;
 }
 
